/* Add responsive styles to hide sidebar for screens less than 1096px */
@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }

    .sidebar.show {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        /* Adjust this width as needed for the overlay */
        z-index: 1000;
        /*
        width: 80%;
        background-color: #fff; 
        */
        /* Change this color to your preference */
    }

    .overlay {
        display: none;
    }
}

/* Sidebar styling */
.sidebar {
    width: 300px;
    height: 100vh;
    top: 0;
    transition: left 0.3s ease-out;
    /* 
    left: -20%;
    position: fixed;
    z-index: 1000; 
    */
}


/* **************************************** */
/* Mine */
/* **************************************** */
.sidebarImg {
    height: 120px;
    width: 90px;
    padding-bottom: 30px;
}

.fixed-icon {
    position: fixed;
    top: 45px;
    left: 20px;
    z-index: 1002;
    display: block;
}